.holder{
	display: grid;
	grid-template-columns: repeat(2, 200px);
	grid-template-row: repeat(2, 200px);
	row-gap: 10px;
	columns-gap: 10px;
	justify-content: center;
	align-items: center;
	background-color: red;	
}
.item{
	background-color: aqua;	
}
/* Your CSS Code here. */